.login-container {
  background-color: #ffe1e1;
  display: flex;
  height: 100vh;
  transform: translateY(-20px);
  transition: opacity 1s, transform 1s;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.login-subcontainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container-white {
  height: 30rem;
  width: 30rem;
  background-color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 10px #8b242431;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .login-container-white {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 0px #8b242431;
    margin-top: 50%;
  }

  .login-subcontainer {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-container {
    display: flex;
    height: 100%;
    background-color: white;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;
    opacity: 0;
  }
}
