.about-container {
  background-color: #ffe1e1;
  background: linear-gradient(to bottom, #ffe1e1, white);

  height: 100vh;
  position: fixed;
  width: 100%;
}

.button-updatecontainer {
  margin-left: 20px;
}

.about-subcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.input-container-about {
  display: flex;
  flex-direction: column;
  width: 100rem;
  height: 20rem;
}

.textarea-update {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  overflow-y: hidden;
  outline: none;
  text-align: center;
  background-color: transparent;
  font-size: 15px;
  color: "#ad6c6b";
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
