.input-container {
}

.input-container {
}

.inputbox {
  height: 50px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid #ffa6a6;
  transition: 0.2s;
  outline: none;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  color: #ff7878;
}

.selectbox {
  height: 60px;
  width: 377px;
  border-radius: 12px;
  border: 1px solid #ffa6a6;
  transition: 0.2s;
  outline: none;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  color: #ff7878;
}

label {
  color: #ff7878;
}
