.terms-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
.transparent-bg {
  background-color: black;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.term-subcontainer {
  width: 93%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  height: 640px; /* Set the maximum height for scrolling */
  overflow-x: auto;
  align-items: center;
}

.other-subcontainer {
  height: 70%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
}

.image-terms {
  align-items: center;
  height: 100%;
  width: 100%;
}

.para {
  text-align: justify;
  width: 80%;
  margin-top: 0;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
